<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aleph.im Node</title>
    <style>

        @font-face {
            font-family: 'IBM Plex Mono';
            font-weight: normal;
            src: url(/static/IBM_Plex_Mono/IBMPlexMono-Light.ttf);
        }
        @font-face {
            font-family: 'IBM Plex Mono';
            font-weight: bold;
            src: url(/static/IBM_Plex_Mono/IBMPlexMono-Bold.ttf);
        }

        body {
            font-family: IBM Plex Regular,monospace;
            margin: 10vw;
        }

        progress {
            width: 100%;
            height: 0.5em;
        }
    </style>
</head>
<body>
<h1><img src="/static/aleph-logo.svg"> Aleph Node</h1>

<section>
    <p>
        This is an <a href="https://aleph.im/">Aleph.im</a> node.
    </p>
    <p>
        See our <a href="https://github.com/aleph-im/pyaleph">Repository</a> for more info.
    </p>

</section>

<hr/>

<section>
    <h2>Sync status</h2>

    <p>
        Messages stored: <span data-key="pyaleph_status_sync_messages_total">
            {{ pyaleph_status_sync_messages_total }}
        </span>
        {% if pyaleph_status_sync_messages_reference_total %}
            / <span data-key="pyaleph_status_sync_messages_reference_total">
                {{ pyaleph_status_sync_messages_reference_total }}
            </span>
            (<span data-key="pyaleph_status_sync_messages_remaining_total">
                {{pyaleph_status_sync_messages_remaining_total}}
            </span> left )
            <br/>
            <progress data-ratio="sync_messages" value="{{pyaleph_status_sync_messages_total}}" max="100"></progress>
        {% endif %}
    </p>
    <p>
        Pending messages: <span data-key="pyaleph_status_sync_pending_messages_total">
            {{ pyaleph_status_sync_pending_messages_total }}
        </span>
    </p>
    <p>
        Pending transactions: <span data-key="pyaleph_status_sync_pending_txs_total">
            {{ pyaleph_status_sync_pending_txs_total }}
        </span>
    </p>

    <h3>Chains</h3>

    <p>
        ETH height: <span data-key="pyaleph_status_chain_eth_last_committed_height">
            {{ pyaleph_status_chain_eth_last_committed_height }}
        </span>
        {% if pyaleph_status_chain_eth_height_reference_total %}
            / <span data-key="pyaleph_status_chain_eth_height_reference_total">
                {{ pyaleph_status_chain_eth_height_reference_total }}
            </span>
            (<span data-key="pyaleph_status_chain_eth_height_remaining_total">
                {{pyaleph_status_chain_eth_height_remaining_total}}
            </span> left )
            <br/>
            <progress data-ratio="chain_eth" value="{{pyaleph_status_chain_eth_last_committed_height}}" max="100"></progress>
        {% endif %}
    </p>
</section>

<script>
    const statusUrl = `ws://${window.location.host}/api/ws0/status`;

    function connectStatusWs() {
        const statusSocket = new WebSocket(statusUrl);

        statusSocket.onopen = function (event) {
            console.log("Socket open");
        };

        statusSocket.onmessage = function (event) {
            const data = JSON.parse(event.data);

            for (let element of document.querySelectorAll("[data-key]")) {
                const key = element.getAttribute("data-key");
                element.innerText = data[key];
            }

            for (let element of document.querySelectorAll("progress[data-ratio=sync_messages]")) {
                element.value = 100 * data.pyaleph_status_sync_messages_total / (data.pyaleph_status_sync_messages_reference_total);
            }

            for (let element of document.querySelectorAll("progress[data-ratio=chain_eth]")) {
                element.value = 100 * data.pyaleph_status_chain_eth_last_committed_height / (data.pyaleph_status_chain_eth_height_reference_total);
            }
        };

        statusSocket.onclose = function(e) {
            console.log('Socket is closed. Reconnect will be attempted in 1 second.', e.reason);
            setTimeout(function() {
                connectStatusWs();
            }, 1000);
        };

        statusSocket.onerror = function(err) {
            console.error('Socket encountered error: ', err.message, 'Closing socket');
            statusSocket.close();
        };
    }

    connectStatusWs();

</script>

</body>
</html>
