version: '2.2'

volumes:
  pyaleph-ipfs:
  pyaleph-mongodb:

services:
  pyaleph:
    restart: always
    image: alephim/pyaleph-node:v0.2.0
    command: pyaleph --config /opt/pyaleph/config.yml --key-dir /opt/pyaleph/keys -vv
    ports:
      - "127.0.0.1:8000:8000/tcp"
      - "4024:4024/tcp"
    volumes:
      - ./config.yml:/opt/pyaleph/config.yml
      - ./keys:/opt/pyaleph/keys
    depends_on:
      - mongodb
      - ipfs
      - p2pd
    networks:
      - pyaleph
    logging:
      options:
        max-size: 50m

  p2pd:
    restart: always
    image: alephim/jsp2pd:0.10.2-1.0.0
    networks:
      - pyaleph
    environment:
      PRIVATE_KEY_FILE: "/etc/jsp2pd/keys/serialized-node-secret.key"
      LISTEN_MADDR: "/ip4/0.0.0.0/tcp/4030"
      HOST_MADDRS: "/ip4/0.0.0.0/tcp/4025"
      PUBSUB: "true"
      PUBSUB_ROUTER: "floodsub"
    ports:
      - "4025:4025"
    volumes:
      - ./keys:/etc/jsp2pd/keys

  ipfs:
    restart: always
    image: ipfs/go-ipfs:v0.10.0
    ports:
      - "4001:4001"
      - "4001:4001/udp"
    volumes:
      - "pyaleph-ipfs:/data/ipfs"
    environment:
      - IPFS_PROFILE=server
    networks:
      - pyaleph
    command: ["daemon", "--enable-pubsub-experiment", "--migrate"]

  mongodb:
    restart: always
    image: mongo:4.4
    volumes:
      - pyaleph-mongodb:/data/db
    command: mongod --storageEngine wiredTiger
    networks:
      - pyaleph

networks:
  pyaleph:
