version: '2.2'

volumes:
  pyaleph-ipfs:
  pyaleph-local-storage:
  pyaleph-postgres:
  pyaleph-caddy-data:
  pyaleph-caddy-config:

services:
  pyaleph:
    restart: always
    image: alephim/pyaleph-node:v0.5.0-rc3
    command: --config /opt/pyaleph/config.yml --key-dir /opt/pyaleph/keys -v
    volumes:
      - ./config.yml:/opt/pyaleph/config.yml
      - ./keys:/opt/pyaleph/keys
      - pyaleph-local-storage:/var/lib/pyaleph
    depends_on:
      - postgres
      - ipfs
      - p2p-service
      - redis
    networks:
      - pyaleph
    logging:
      options:
        max-size: 50m

  pyaleph-api:
    restart: always
    image: alephim/pyaleph-node:v0.5.0-rc3
    command: --config /opt/pyaleph/config.yml --key-dir /opt/pyaleph/keys -v
    entrypoint: ["bash", "deployment/scripts/run_aleph_ccn_api.sh"]
    ports:
      - "4024:4024/tcp"
    volumes:
      - ./config.yml:/opt/pyaleph/config.yml
      - pyaleph-local-storage:/var/lib/pyaleph
    environment:
      CCN_CONFIG_API_PORT: 4024
      CCN_CONFIG_API_NB_WORKERS: 8
    depends_on:
      - pyaleph
    networks:
      - pyaleph
    logging:
      options:
        max-size: 50m

  p2p-service:
    restart: always
    image: alephim/p2p-service:0.1.2
    networks:
      - pyaleph
    volumes:
      - ./config.yml:/etc/p2p-service/config.yml
      - ./keys/node-secret.pkcs8.der:/etc/p2p-service/node-secret.pkcs8.der
    depends_on:
      - rabbitmq
    environment:
      RUST_LOG: info
    ports:
      - "4025:4025"
      - "127.0.0.1:4030:4030"
    command:
      - "--config"
      - "/etc/p2p-service/config.yml"
      - "--private-key-file"
      - "/etc/p2p-service/node-secret.pkcs8.der"

  postgres:
    restart: always
    image: postgres:15.1
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - pyaleph-postgres:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: aleph
      POSTGRES_PASSWORD: decentralize-everything
      POSTGRES_DB: aleph
    networks:
      - pyaleph

  rabbitmq:
    restart: always
    image: rabbitmq:3.10.7-management
    networks:
      - pyaleph
    environment:
      RABBITMQ_DEFAULT_USER: aleph-p2p
      RABBITMQ_DEFAULT_PASS: change-me!
    ports:
      - "127.0.0.1:5672:5672"
      - "127.0.0.1:15672:15672"

  redis:
    restart: always
    image: redis:7.0.10
    networks:
      - pyaleph

  ipfs:
    restart: always
    image: ipfs/kubo:v0.15.0
    ports:
      - "4001:4001"
      - "4001:4001/udp"
      - "127.0.0.1:5001:5001"
    volumes:
      - "pyaleph-ipfs:/data/ipfs"
    environment:
      - IPFS_PROFILE=server
    networks:
      - pyaleph
    command: ["daemon", "--enable-pubsub-experiment", "--migrate"]

  prometheus:
    restart: always
    image: prom/prometheus
    command: --log.level=debug --config.file=/etc/prometheus/prometheus.yml
    ports:
      - "127.0.0.1:9090:9090/tcp"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - pyaleph
      - grafana

  grafana:
    restart: always
    image: grafana/grafana
    ports:
      - "127.0.0.1:3000:3000/tcp"
    volumes:
      - ./grafana/prometheus.yaml:/etc/grafana/provisioning/datasources/prometheus.yaml
      - ./grafana/dashboard.yaml:/etc/grafana/provisioning/dashboards/dashboard.yaml
      - ./grafana/dashboards:/etc/grafana/provisioning/dashboards/
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=a440fc1aa53b6b313b85b004605b7647  # Warning, change this !
    networks:
      - grafana

  caddy:
    restart: always
    image: caddy:latest
    command: caddy reverse-proxy --from :80 --to grafana:3000
    # Use the following command with your own domain name to enable HTTPS instead
#    command: caddy reverse-proxy --from grafana.aleph-node.example.org --to grafana:3000
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - pyaleph-caddy-data:/data
      - pyaleph-caddy-config:/config
    networks:
      - pyaleph
      - grafana

networks:
  pyaleph:
  grafana:
