---
name: Test nix-shell


on:
  push:
    branches:
      - dev
      - main
  pull_request:
    branches:
      - "*"


jobs:
  nix-shell:
    continue-on-error: true
    strategy:
      matrix:
        os: [ubuntu-latest]
        # os: [ubuntu-latest, macos-latest]
      fail-fast: false
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
        with:
            # Fetch the whole history for all tags and branches (required for aleph.__version__)
          fetch-depth: 0

      - name: Set up Nix
        uses: cachix/install-nix-action@v27
        with:
            # Use channel nixos-25.11 for Linux and nixpkgs-25.11-darwin for macOS
          nix_path: nixpkgs=channel:${{ matrix.os == 'macos-latest' && 'nixpkgs-25.11-darwin' || 'nixos-25.11' }}

      - name: Disable incompatible dependency of `nuls2`
        run: |
          sed -i.bak '/py-ed25519-bindings/ s/^[[:space:]]*/# /' pyproject.toml
          rm pyproject.toml.bak

      - name: Run tests
        run: nix-shell --run "hatch run testing:test"
